<%- include("partials/header.ejs") %>

<div>
  <h2><%= file.id %></h2>
  <h3><%= file.description %></h3>
  <p><%= file.addlDesc %></p>
  <p><%= file.customer %></p>
  <p>Created on <%= file.dateSetup.toLocaleDateString('en-US') %></p>
  <p>
    Last updated on <%= file.dateLastPriceChg.toLocaleDateString('en-US') %>
  </p>
  <img src="<%= `data:image/jpg;base64, ${file.thumbnail}` %>" alt="" />
  <img src="<%= `data:image/jpg;base64, ${file.thumbnail}` %>" alt="" />
</div>

<%- include("partials/footer.ejs") %>
