<%- include("partials/header.ejs") %>

<header>
  <form>
    <label>
      <span>Filter By Customer</span>
      <select name="customer" id="customer">
        <option value="all">All Customers</option>
        <% customers.forEach(customer => { %>
        <option value="<%= customer %> "><%= customer %></option>
        <% }) %>
      </select>
    </label>
  </form>
  <a href="/files/create">Add new File</a>
</header>

<ul class="fileListing">
  <% files.forEach(file => { %>
  <li><%- include("partials/fileCard.ejs", {file})%></li>
  <% }) %>
</ul>

<%- include("partials/footer.ejs") %>
